# pip3 install -r requirements.txt で一括追加
gunicorn
flask
flask-cors
python-dotenv
requests
deepface
cv2
matplotlib
Pillow
cmake
dlib==19.24.0
numpy==1.21.6
scipy==1.4.1
pandas==1.3.5
face_recognition
pycaret==2.3.10